<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <title>Form Layanan</title>
</head>

<body>
    <div class="pd-20 card-box mb-30" layout:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h4 class="text-blue h4 mb-0"
                th:text="@{${service.serviceId} == null ? 'Buat Data Layanan' : 'Ubah Data Layanan'}">
            </h4>
            <a href="/services" class="btn btn-primary btn-sm scroll-click"><i class="fa fa-back"></i> Kembali</a>
        </div>
        <form th:action="@{${service.serviceId} == null ? '/services' : '/services/' + ${service.serviceId}}"
            th:object="${service}" th:method="@{${service.serviceId} == null ? 'POST' : 'PUT'}">
            <input type="hidden" th:if="${service.serviceId != null}" th:field="*{serviceId}" />
            <div class="form-group row">
                <label class="col-sm-12 col-md-4 col-form-label">Nama Layanan</label>
                <div class="col-sm-12 col-md-8">
                    <input type="text"
                        th:class="${'form-control ' + (#fields.hasErrors('serviceName')? 'is-invalid':'') }"
                        th:field="*{serviceName}" />
                    <span class="invalid-feedback" th:errors="*{serviceName}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-4 col-form-label">Deskripsi</label>
                <div class="col-sm-12 col-md-8">
                    <textarea th:class="${'form-control ' + (#fields.hasErrors('description')? 'is-invalid':'') }"
                        th:field="*{description}" />
                    <span class="invalid-feedback" th:errors="*{description}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-4 col-form-label">Harga</label>
                <div class="col-sm-12 col-md-8">
                    <input type="number" th:class="${'form-control ' + (#fields.hasErrors('price')? 'is-invalid':'') }"
                        th:field="*{price}" />
                    <span class="invalid-feedback" th:errors="*{price}"></span>
                </div>
            </div>
            <div>
                <button class="btn btn-success" type="submit" th:if="${service.serviceId == null}">Simpan</button>
                <button class="btn btn-success" type="submit" th:if="${service.serviceId != null}">Ubah</button>
            </div>
        </form>
        <script>$('a[href="/services"]').addClass('active')</script>
    </div>
</body>

</html>