<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <title>Form Tamu</title>
</head>

<body>
    <div class="pd-20 card-box mb-30" layout:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h4 class="text-blue h4 mb-0" th:text="@{${guest.guestId} == null ? 'Buat Data Tamu' : 'Ubah Data Tamu'}">
            </h4>
            <a href="/guests" class="btn btn-primary btn-sm scroll-click"><i class="fa fa-back"></i> Kembali</a>
        </div>
        <form th:action="@{${guest.guestId} == null ? '/guests' : '/guests/' + ${guest.guestId}}" th:object="${guest}"
            th:method="@{${guest.guestId} == null ? 'POST' : 'PUT'}">
            <input type="hidden" th:if="${guest.guestId != null}" th:field="*{guestId}" />
            <div class="row g-2">
                <div class="col-md-6 col-12">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Nama Depan</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text"
                                th:class="${'form-control ' + (#fields.hasErrors('firstName')? 'is-invalid':'') }"
                                th:field="*{firstName}" />
                            <span class="invalid-feedback" th:errors="*{firstName}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Nama Belakang</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text"
                                th:class="${'form-control ' + (#fields.hasErrors('lastName')? 'is-invalid':'') }"
                                th:field="*{lastName}" />
                            <span class="invalid-feedback" th:errors="*{lastName}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Email</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="email"
                                th:class="${'form-control ' + (#fields.hasErrors('email')? 'is-invalid':'') }"
                                th:field="*{email}" />
                            <span class="invalid-feedback" th:errors="*{email}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">No HP</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text"
                                th:class="${'form-control ' + (#fields.hasErrors('phoneNumber')? 'is-invalid':'') }"
                                th:field="*{phoneNumber}" />
                            <span class="invalid-feedback" th:errors="*{phoneNumber}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Tanggal Lahir</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="date"
                                th:class="${'form-control ' + (#fields.hasErrors('dateOfBirth')? 'is-invalid':'') }"
                                th:field="*{dateOfBirth}" />
                            <span class="invalid-feedback" th:errors="*{dateOfBirth}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-4 col-form-label">Alamat</label>
                        <div class="col-sm-12 col-md-8">
                            <textarea rows="3"
                                th:class="${'form-control ' + (#fields.hasErrors('address')? 'is-invalid':'') }"
                                th:field="*{address}" />
                            <span class="invalid-feedback" th:errors="*{address}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-success" type="submit" th:if="${guest.guestId == null}">Simpan</button>
                <button class="btn btn-success" type="submit" th:if="${guest.guestId != null}">Ubah</button>
            </div>
        </form>
        <script>$('a[href="/guests"]').addClass('active')</script>
    </div>
</body>

</html>