<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotem Management - Kelompok 1</title>
</head>

<body>
    <header>
        <h1>Hotel Management System</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/guests}">Tamu</a></li>
                <li><a th:href="@{/services}">Layanan</a></li>
                <li><a th:href="@{/rooms}">Ruangan</a></li>
            </ul>
        </nav>
    </header>

    <div layout:fragment="content">
        
    </div>

    <footer>
        <p>&copy; 2024 Hotel Management</p>
    </footer>
</body>

</html>