<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Halaman Register</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/styles/core.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/icon-font.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
</head>

<body class="login-page">
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="/">
                    <img src="/public/images/logo.svg" alt="" />
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Register To ManHot</h2>
                        </div>
                        <form method="post" th:action="@{/employees/register}" th:object="${employee}">
                            <div class="input-group custom">
                                <input type="text" class="form-control form-control-lg" th:field="*{name}" placeholder="Nama" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="email" class="form-control form-control-lg" th:field="*{email}" placeholder="Email" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-mail"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="text" class="form-control form-control-lg" th:field="*{phoneNumber}" placeholder="No HP" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-phone"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</span>
                            </div>
                            <div class="input-group custom">
                                <select class="form-control form-control-lg" th:field="*{position}">
                                    <option value="">Pilih Posisi</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Manajer">Manajer</option>
                                    <option value="Resepsionis">Resepsionis</option>
                                </select>
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-briefcase"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="number" class="form-control form-control-lg" th:field="*{salary}" placeholder="Gaji" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-money"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="date" class="form-control form-control-lg" th:field="*{hireDate}" placeholder="Tanggal Bergabung" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-calendar1"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}">Hire Date Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="text" class="form-control form-control-lg" th:field="*{address}" placeholder="Alamat" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-house-1"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</span>
                            </div>
                            <div class="input-group custom">
                                <input type="password" class="form-control form-control-lg" th:field="*{password}" placeholder="Password" />
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                                </div>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                            </div>
                            <div class="input-group mb-0">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/scripts/core.min.js"></script>
    <script src="/public/scripts/script.min.js"></script>
    <script src="/public/scripts/process.js"></script>
    <script src="/public/scripts/layout-settings.js"></script>
</body>

</html>
