<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pemeliharaan Kamar</title>
</head>

<body>
    <div class="card-box mb-30" layout:fragment="content">
        <div class="pd-20 d-flex justify-content-between align-items-center">
            <h4 class="text-blue h4 mb-0">Data Pemeliharaan Kamar</h4>
            <a href="/room-maintenance/create" class="btn btn-sm btn-success">Tambah</a>
        </div>
        <div class="pb-20">
            <table class="data-table table stripe hover nowrap">
                <thead>
                    <tr>
                        <th class="table-plus">Nomor Kamar</th>
                        <th>Deskripsi</th>
                        <th>Tanggal Pemeliharaan</th>
                        <th>Status</th>
                        <th class="datatable-nosort">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room : ${rooms}">
                        <td class="table-plus" th:text="${room.room.roomNumber}"></td>
                        <td th:text="${room.description}"></td>
                        <td th:text="${room.maintenanceDate}"></td>
                        <td th:text="${room.status}"></td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item"
                                        th:href="@{/room-maintenance/{id}/edit(id=${room.maintenanceId})}"><i
                                            class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#" onclick="showConfirmDelete(this)">
                                        <i class="dw dw-delete-3"></i>
                                        Delete
                                    </a>
                                    <form th:action="@{/room-maintenance/{id}(id=${room.maintenanceId})}" method="post"
                                        style="display:inline">
                                        <input type="hidden" name="_method" value="delete" />
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            $('a[href="/room-maintenance"]').addClass('active')
        </script>
    </div>
</body>

</html>